<%= form_for(@service) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>
      <ul>
      <% @service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-sm-8">
      <div class="input-group input-group-sm col-sm-9">
        <%= f.hidden_field :vet_id, :value => current_vet.id, class:"form-control", placeholder:"usuario"%>
      </div>                            
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-8">
      <%= f.label :name, "Nombre: ", class:'col-sm-3 control-label required'  %>
      <div class="input-group input-group-sm col-sm-9">
        <span class="input-group-addon">*</span>
        <%= f.text_field :name, class:"form-control", placeholder:"Nombre del servicio"%>
      </div>                            
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-8">
      <%= f.label :price, "Precio: ", class:'col-sm-3 control-label required'  %>
      <div class="input-group input-group-sm col-sm-9">
        <span class="input-group-addon">s/.</span>
        <%= f.text_field :price, class:"form-control", placeholder:"Precio del servicio"%>
      </div>                            
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Grabar" %>
  </div>
  <br>
  <%= link_to 'Regresar', services_path %>
<% end %>
</div>