<div class="row">
  <div class="col-sm-12" id="featured">
    <div class="page-header text-muted">
      Servicios
    </div>
  </div>
</div>
<div class="row"> 
  <div class="col-sm-12">
    <% if @services.count  > 0 %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @services.each do |service| %>
            <tr>
              <td><%= service.name %></td>
              <td><%= service.price %></td>
              <td>
                <%= link_to 'Editar', edit_service_path(service) %> | 
                <%= link_to 'Eliminar', service, method: :delete, data: { confirm: 'Está seguro de eliminar?' } %>
              </td>
              <td></td>
              <td></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
      <%= link_to 'Nuevo servicio', new_service_path %>
    <% end%>
    <% if @services.count == 0 %>
      <p> Usted no tiene registrado servicios, favor registrelos <%= link_to 'aquí', new_service_path %> </p>
    <% end %>
  </div>
</div>