<h3>Editar Datos</h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

    <div class="row">
      <div class="form-group col-sm-8">
        <%= f.label :name, "Nombre: ", class:'col-sm-3 control-label required'  %>
        <div class="input-group input-group-sm col-sm-9">
          <span class="input-group-addon">*</span>
          <%= f.text_field :name, autofocus: true, class:"form-control", placeholder:"Nombre de la veterinaria"%>
        </div>                            
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-8">
        <%= f.label :address, "Dirección: ", class:'col-sm-3 control-label required'  %>
        <div class="input-group input-group-sm col-sm-9">
          <span class="input-group-addon">*</span>
          <%= f.text_field :address, class:"form-control", placeholder:"Dirección de la veterinaria"%>
        </div>                            
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-8">
        <%= f.label :phone, "Teléfono: ", class:'col-sm-3 control-label required'  %>
        <div class="input-group input-group-sm col-sm-9">
          <span class="input-group-addon">*</span>
          <%= f.text_field :phone, class:"form-control", placeholder:"Teléfono de la veterinaria"%>
        </div>                            
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-8">
        <%= f.label :email, "Email: ", class:'col-sm-3 control-label required'  %>
        <div class="input-group input-group-sm col-sm-9">
          <span class="input-group-addon">@</span>
          <%= f.email_field :email, class:"form-control", placeholder:"Email de contacto"%>
        </div>                            
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-8">
        <%= f.label :url, "Url: ", class:'col-sm-3 control-label'  %>
        <i>(ej. www.miweb.com)</i>
        <div class="input-group input-group-sm col-sm-9">
          <span class="input-group-addon">*</span>
          <%= f.text_field :url, class:"form-control", placeholder:"Web site de la veterinaria"%>
        </div>                            
      </div>
    </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

    <div class="row">
    <div class="form-group col-sm-8">
      <%= f.label :password, "Contraseña: " , class:'col-sm-3 control-label required'  %>
      <i>(Deja en blanco si no necesitas cambiar esto.)</i>
      <div class="input-group input-group-sm col-sm-9">
        <span class="input-group-addon">*</span>
        <%= f.password_field :password, autocomplete: "off", class:"form-control", placeholder:"Contraseña"%>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-8">
      <%= f.label :password_confirmation, "Confirmar contraseña: " , class:'col-sm-3 control-label required'  %>
      <div class="input-group input-group-sm col-sm-9">
        <span class="input-group-addon">*</span>
        <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", placeholder:"Confirmar contraseña"%>
      </div>                          
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-8">
      <%= f.label :current_password, "Contraseña actual: " , class:'col-sm-3 control-label required'  %>
      <i>(Ingrese su password actual para confirmar los cambios.)</i>
      <div class="input-group input-group-sm col-sm-9">
        <span class="input-group-addon">*</span>
        <%= f.password_field :current_password, autocomplete: "off", class:"form-control", placeholder:"Contraseña actual"%>
      </div>
    </div>
  </div>

  <div><%= f.submit "Actualizar", class:'btn btn-default btn-sm' %></div>
<% end %>

<h4>Cancela mi cuenta</h4>

<p><%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "Estás seguro de darte de baja?" }, method: :delete, class:'btn btn-default btn-sm' %></p>

<%= link_to "Regresar", :back %>
