<%= form_for(@request_detail) do |f| %>
  <% if @request_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request_detail.errors.count, "error") %> prohibited this request_detail from being saved:</h2>

      <ul>
      <% @request_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
    <div class="form-group col-sm-8">
      <div class="input-group input-group-sm col-sm-9">
        <%= f.hidden_field :user_id, :value => current_user.id, class:"form-control", placeholder:"usuario"%>
      </div>                            
    </div>
  </div>



  <div class="row">
    <div class="form-group col-sm-8">
        <%= f.label :request_id, "Requerimiento: ", class:'col-sm-3 control-label required' %>
          <div class="input-group input-group-sm col-sm-9">
            <span class="input-group-addon">*</span>
            <%= f.collection_select :request_id, Request.where(user: current_user), :id, :id, :prompt => true, class:"form-control", placeholder:"Requerimiento" %>
          </div>                            
    </div>
  </div>

  

  <div class="row">
    <div class="form-group col-sm-8">
        <%= f.label :service_id, "Servicio: ", class:'col-sm-3 control-label required' %>
          <div class="input-group input-group-sm col-sm-9">
            <span class="input-group-addon">*</span>
            <%= f.collection_select :service_id, Service.all, :id, :name, :prompt => true, class:"form-control", placeholder:"Servicio" %>
          </div>                            
    </div>
  </div>


<div class="row">
    <div class="form-group col-sm-8">
        <%= f.label :pet_id, "Mascota: ", class:'col-sm-3 control-label required' %>
          <div class="input-group input-group-sm col-sm-9">
            <span class="input-group-addon">*</span>
            <%= f.collection_select :pet_id, Pet.where(user: current_user), :id, :name, :prompt => true, class:"form-control", placeholder:"Mascota" %>
          </div>                            
    </div>
  </div>


  <div class="row">
    <div class="form-group col-sm-8">
        <%= f.label :comment, "Comentarios: ", class:'col-sm-3 control-label required' %>
          <div class="input-group input-group-sm col-sm-9">
            <span class="input-group-addon">*</span>
            <%= f.text_field :comment, class:"form-control", placeholder:"Comentarios" %>
          </div>                            
    </div>
  </div>


  <div class="actions">
    <%= f.submit "Grabar" %>
  </div>
  <br>
    <%= link_to 'Regresar', requests_path %>
<% end %>
