<div class="row">
  <div class="col-sm-12" id="featured">
    <div class="page-header text-muted">
      Detalle de Requerimientos
    </div>
  </div>
</div>


<div class="row"> 
  <div class="col-sm-12">

<table class="table table-hover">
  <thead>
    <tr>
      <th>Requerimiento</th>
      <th>Servicio</th>
      <th>Mascota</th>
      <th>Comentarios</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @request_details.each do |request_detail| %>
      <tr>
        <td><%= request_detail.request.id %></td>
        <td><%= request_detail.service.name %></td>
        <td><%= request_detail.pet.name %></td>
        <td><%= request_detail.comment %></td>
        <td><%= link_to 'Show', request_detail %></td>
        <td><%= link_to 'Edit', edit_request_detail_path(request_detail) %></td>
        <td><%= link_to 'Destroy', request_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo detalle de requerimiento', new_request_detail_path %>
</br>
</br>
<%= link_to 'Regresar', requests_path %>

  </div>
</div>
