<p id="notice"><%= notice %></p>

<p>
  <strong>Request:</strong>
  <%= @request_detail.request %>
</p>

<p>
  <strong>Service:</strong>
  <%= @request_detail.service %>
</p>

<p>
  <strong>Pet:</strong>
  <%= @request_detail.pet %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @request_detail.comment %>
</p>

<%= link_to 'Edit', edit_request_detail_path(@request_detail) %> |
<%= link_to 'Back', request_details_path %>
