<p id="notice"><%= notice %></p>

<p>
  <strong>Requerimiento:</strong>
  <%= @request_detail.request.id %>
</p>

<p>
  <strong>Servicio:</strong>
  <%= @request_detail.service.name %>
</p>

<p>
  <strong>Mascota:</strong>
  <%= @request_detail.pet.name %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @request_detail.comment %>
</p>

<%= link_to 'Edit', edit_request_detail_path(@request_detail) %> |
<%= link_to 'Back', request_details_path %>
