<%= form_for(@pet) do |f| %>
  <% if @pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pet.errors.count, "error") %> prohibited this pet from being saved:</h2>
      <ul>
      <% @pet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-sm-8">
      <div class="input-group input-group-sm col-sm-9">
        <%= f.hidden_field :user_id, :value => current_user.id, class:"form-control", placeholder:"usuario"%>
      </div>                            
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-8">
      <%= f.label :name, "Nombre: ", class:'col-sm-3 control-label required'  %>
      <div class="input-group input-group-sm col-sm-9">
        <span class="input-group-addon">*</span>
        <%= f.text_field :name, class:"form-control", placeholder:"Nombre de la mascota"%>
      </div>                            
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-8">
      <%= f.label :age, "Edad: ", class:'col-sm-3 control-label required'  %>
      <div class="input-group input-group-sm col-sm-9">
        <span class="input-group-addon">*</span>
        <%= f.text_field :age, class:"form-control", placeholder:"Edad de la mascota"%>
      </div>                            
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-8">
      <%= f.label :gender, "Género: ", class:'col-sm-3 control-label required'  %>
      <div class="input-group input-group-sm col-sm-9">
        <span class="input-group-addon">*</span>
        <%= f.text_field :gender, class:"form-control", placeholder:"Género de la mascota"%>
      </div>                            
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-8">
      <%= f.label :family_id, "Familia: ", class:'col-sm-3 control-label required'  %>
      <div class="input-group input-group-sm col-sm-9">
        <span class="input-group-addon">*</span>
        <%= f.collection_select :family_id, Family.all, :id, :name, :prompt => true, class:"form-control", placeholder:"Familia de la mascota"%>
      </div>                            
    </div>
  </div>



  <div class="row">
    <div class="form-group col-sm-8">
      <%= f.label :breed_id, "Raza: ", class:'col-sm-3 control-label required'  %>
      <div class="input-group input-group-sm col-sm-9">
        <span class="input-group-addon">*</span>
        <%= f.collection_select :breed_id, Breed.all, :id, :name, :prompt => true, class:"form-control", placeholder:"Raza de la mascota"%>
      </div>                            
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-8">
      <%= f.label :otherDetails, "Observaciones: ", class:'col-sm-3 control-label required'  %>
      <div class="input-group input-group-sm col-sm-9">
        <span class="input-group-addon">*</span>
        <%= f.text_field :otherDetails, class:"form-control", placeholder:"Otros detalles"%>
      </div>                            
    </div>
  </div>
  
  <div class="actions">
    <%= f.submit "Grabar" %>
  </div>
  <br>
    <%= link_to 'Regresar', pets_path %>
  <% end %>
</div>

