<h1>Listing pets</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Weight</th>
      <th>Height</th>
      <th>Gender</th>
      <th>Datebirth</th>
      <th>Family</th>
      <th>Breed</th>
      <th>Otherdetails</th>
      <th>String</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pets.each do |pet| %>
      <tr>
        <td><%= pet.user %></td>
        <td><%= pet.name %></td>
        <td><%= pet.weight %></td>
        <td><%= pet.height %></td>
        <td><%= pet.gender %></td>
        <td><%= pet.datebirth %></td>
        <td><%= pet.family %></td>
        <td><%= pet.breed %></td>
        <td><%= pet.otherDetails %></td>
        <td><%= pet.string %></td>
        <td><%= link_to 'Show', pet %></td>
        <td><%= link_to 'Edit', edit_pet_path(pet) %></td>
        <td><%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pet', new_pet_path %>
