

          <p id="notice"><%= notice %></p>

          
          <p>
          <strong>Nombre:</strong>
          <%= @pet.name %>
          </p>

          <strong>Edad:</strong>
          <%= @pet.age %>
          </p>

          
          <p>
            <strong>Genero:</strong>
            <%= @pet.gender %>
          </p>

          <p>
            <strong>Familia:</strong>
            <%= @pet.family.name %>
          </p>

          <p>
            <strong>Raza:</strong>
            <%= @pet.breed.name %>
          </p>

          <p>
            <strong>Otros Detalles:</strong>
            <%= @pet.otherDetails %>
          </p>

          <p>
            <strong>Usuario:</strong>
            <%= @pet.user_id %>
          </p>

          <%= link_to 'Edit', edit_pet_path(@pet) %> |
          <%= link_to 'Back', pets_path %>

           
      




















