

          <p id="notice"><%= notice %></p>

          
          <p>
          <strong>Name:</strong>
          <%= @pet.name %>
          </p>

          <strong>Age:</strong>
          <%= @pet.age %>
          </p>

          
          <p>
            <strong>Gender:</strong>
            <%= @pet.gender %>
          </p>

          <p>
            <strong>Family:</strong>
            <%= @pet.family %>
          </p>

          <p>
            <strong>Breed:</strong>
            <%= @pet.breed %>
          </p>

          <p>
            <strong>Otherdetails:</strong>
            <%= @pet.otherDetails %>
          </p>

          <p>
            <strong>String:</strong>
            <%= @pet.string %>
          </p>

          <%= link_to 'Edit', edit_pet_path(@pet) %> |
          <%= link_to 'Back', pets_path %>

           
      




















