<h1>Listing vets</h1>

<table>
  <thead>
    <tr>
      <th>Emailcontact</th>
      <th>Password</th>
      <th>Name</th>
      <th>Businessname</th>
      <th>Document</th>
      <th>Logo</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vets.each do |vet| %>
      <tr>
        <td><%= vet.emailContact %></td>
        <td><%= vet.password %></td>
        <td><%= vet.name %></td>
        <td><%= vet.businessName %></td>
        <td><%= vet.document %></td>
        <td><%= vet.logo %></td>
        <td><%= vet.address %></td>
        <td><%= link_to 'Show', vet %></td>
        <td><%= link_to 'Edit', edit_vet_path(vet) %></td>
        <td><%= link_to 'Destroy', vet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vet', new_vet_path %>
