<p id="notice"><%= notice %></p>

<p>
  <strong>Emailcontact:</strong>
  <%= @vet.emailContact %>
</p>

<p>
  <strong>Password:</strong>
  <%= @vet.password %>
</p>

<p>
  <strong>Name:</strong>
  <%= @vet.name %>
</p>

<p>
  <strong>Businessname:</strong>
  <%= @vet.businessName %>
</p>

<p>
  <strong>Document:</strong>
  <%= @vet.document %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @vet.logo %>
</p>

<p>
  <strong>Address:</strong>
  <%= @vet.address %>
</p>

<%= link_to 'Edit', edit_vet_path(@vet) %> |
<%= link_to 'Back', vets_path %>
