
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>         
    </div>
    <div class="navbar-collapse collapse">
      <form class="navbar-form navbar-right" role="form">
        <a id="auth-modal-button" class="btn btn-default" data-toggle="modal" data-target="#auth-modal">
          <span class="btn-account img"></span>
            <span class="label">Ingresar / Registrarse</span>
        </a>
      </form>
    </div><!--/.navbar-collapse -->
  </div>
</div>

<!--Div para encabezado-->

<!--Div para crear ventana emergente de login-->
<div id="auth-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          </div>
          <div class="modal-body">
              <div class="auth-modal-content">
                  <div id="login-modal-body"></div>
                      <h2>Inicio de sesión</h2>
                      <hr>
                      <%= form_for(resource, :as => :user, :url => registration_path(:user), :class => 'form-horizontal') do |f| %>
                        <div class="form-group ">
                          <%= f.label :email, :class => 'col-sm-4 control-label required'  %>
                          <div class="controls col-sm-8">
                            <%= f.email_field :email, :class => 'form-control' %>
                          </div>                          
                        </div>

                         <div class="form-group ">
                          <%= f.label :password, :class => 'col-sm-4 control-label required'  %>
                          <div class="controls col-sm-8">
                            <%= f.password_field :password, :class => 'form-control' %>
                            <%= link_to "Forgot your password?", new_password_path(:user) %>
                          </div>                          
                        </div>

                        <div class="form-group">
                          <%= f.label :remember_me, :class => 'col-sm-4 control-label' %>
                          <div class="controls col-sm-8">
                            <div class="checkbox">
                              <%= f.check_box :remember_me %>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="col-sm-offset-4 col-sm-8">
                            <%= f.submit 'Sign in', :class => 'btn btn-primary btn-lg btn-block' %>
                          </div>
                        </div>
                        <div style="clear:both;"></div>
                    <% end %>
                        <div id="registration-modal-body"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!--Div para titulo-->
<div class="jumbotron">
      <div class="container">
        <h1><center>Mascotas Perú</center></h1>
        <p>Somos una red de veterinarias a nivel nacional, que ofrece en un solo lugar, todo tipo de servicios para tu mascota. Tan solo debes ingresar a nuestra plataforma y accederas a multiples beneficios.</p>
        <p>
          <% if user_signed_in? %>
            Usuario: <%= current_user.name %>
            <%= link_to "Cerrar sesion", destroy_user_session_path, method: :delete %>
          <% elsif vet_signed_in? %>
            Veterinaria: <%= current_vet.name %>
            <%= link_to "Cerrar sesion", destroy_vet_session_path, method: :delete %>
          <%else%>
            <p><%= link_to "Registrarse", new_user_registration_path %>
            Si ya tienes cuenta <%= link_to "inicia sesion", new_user_session_path %></p>
            <p>¿Eres una veterinaria? <%= link_to "inicia sesion", new_vet_registration_path %></p>
          <%end%>
        </p>  
        
      </div>
    </div>

<!--Div para titulo-->

<!--Div para pie de pagina-->
<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <center><h2>Mira nuestros Servicios</h2></center>
            <center> <%=image_tag("servicios.jpg", :class => "img-responsive img-thumbnail")%></center>
        </div>
        <div class="col-md-4">
          <center><h2>Veterinarias Afiliadas</h2></center>
            <center><%=image_tag("veterinarias.jpg", :class => "img-responsive img-thumbnail")%></center>

       </div>
        <div class="col-md-4">
          <center><h2>Estas Aquí</h2></center>
           
              




        </div>
      </div>

      <hr>

      <footer>
        <p>© Company 2014</p>
      </footer>
    </div>