<%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-sm-8">
      <div class="input-group input-group-sm col-sm-9">
        <%= f.hidden_field :user_id, :value => current_user.id, class:"form-control", placeholder:"usuario"%>
      </div>                            
    </div>
  </div>

  
  <div class="row">
    <div class="form-group col-sm-8">
        <%= f.label :requestDate, "Fecha Requerimiento: ", class:'col-sm-3 control-label required' %>
          <div class="input-group input-group-sm col-sm-9">
            <span class="input-group-addon">*</span>
            <%= f.date_select :requestDate, class:"form-control", placeholder:"Fecha requerimiento" %>
          </div>                            
    </div>
  </div>


    <div class="row">
    <div class="form-group col-sm-8">
        <%= f.label :serviceType_id, "Lugar de serivico: ", class:'col-sm-3 control-label required' %>
          <div class="input-group input-group-sm col-sm-9">
            <span class="input-group-addon">*</span>
            <%= f.text_field :serviceType_id, class:"form-control", placeholder:"Lugar de servicio" %>
          </div>                            
    </div>
  </div>


  <div class="row">
    <div class="form-group col-sm-8">
        <%= f.label :address, "Direccion: ", class:'col-sm-3 control-label required' %>
          <div class="input-group input-group-sm col-sm-9">
            <span class="input-group-addon">*</span>
            <%= f.text_field :address, class:"form-control", placeholder:"Direccion" %>
          </div>                            
    </div>
  </div>


  <div class="row">
    <div class="form-group col-sm-8">
        <%= f.label :proposeDate, "Fecha para servicio: ", class:'col-sm-3 control-label required' %>
          <div class="input-group input-group-sm col-sm-9">
            <span class="input-group-addon">*</span>
            <%= f.date_select :proposeDate, class:"form-control", placeholder:"Fecha para servicio" %>
          </div>                            
    </div>
  </div>

  
  <div class="row">
    <div class="form-group col-sm-8">
        <%= f.label :proposeHour, "Hora para servicio: ", class:'col-sm-3 control-label required' %>
          <div class="input-group input-group-sm col-sm-9">
            <span class="input-group-addon">*</span>
            <%= f.time_select :proposeHour, class:"form-control", placeholder:"Hora para servicio" %>
          </div>                            
    </div>
  </div>


  <div class="row">
    <div class="form-group col-sm-8">
        <%= f.label :isPending, "Serivio Pendiente: ", class:'col-sm-3 control-label required' %>
          <div class="input-group input-group-sm col-sm-9">
            <span class="input-group-addon">*</span>
            <%= f.check_box :isPending, class:"form-control", placeholder:"Serivio Pendiente" %>
          </div>                            
    </div>
  </div>
  

  <div class="row">
    <div class="form-group col-sm-8">
        <%= f.label :isConfirmed, "Servicio realizado: ", class:'col-sm-3 control-label required' %>
          <div class="input-group input-group-sm col-sm-9">
            <span class="input-group-addon">*</span>
            <%= f.check_box :isConfirmed, class:"form-control", placeholder:"Servicio realizado" %>
          </div>                            
    </div>
  </div>
 
 
  <div class="row">
    <div class="form-group col-sm-8">
        <%= f.label :comment, "Comentarios: ", class:'col-sm-3 control-label required' %>
          <div class="input-group input-group-sm col-sm-9">
            <span class="input-group-addon">*</span>
            <%= f.text_field :comment, class:"form-control", placeholder:"Comentarios" %>
          </div>                            
    </div>
  </div>


  <div class="row">
    <div class="form-group col-sm-8">
        <%= f.label :vet_id, "Veterinaria: ", class:'col-sm-3 control-label required' %>
          <div class="input-group input-group-sm col-sm-9">
            <span class="input-group-addon">*</span>
            <%= f.collection_select :vet_id, Vet.all, :id, :name, :prompt => true, class:"form-control", placeholder:"Veterinaria" %>
          </div>                            
    </div>
  </div>



  <div class="actions">
    <%= f.submit "Grabar" %>
  </div>
  <br>
    <%= link_to 'Regresar', requests_path %>
<% end %>
