<!--Div para crear ventana emergente de login-->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      <button id="btnCerrar" type="button" class="close" data-dismiss="modal" aria-hidden="true">
      &times;</button>
      <h4 class="modal-title">Veterinaria</h4>
      </div>
      <div class="modal-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Email</th>
            </tr>
          </thead>
          <% @vets = Vet.all %>
          <tbody>
            <% @vets.each do |vet| %>
              <tr onClick="datos('<%= vet.id %>','<%= vet.name %>', '<%= vet.address %>')">
                <td><%= vet.name %></td>
                <td><%= vet.email %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        ...
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>


<%= form_for(@request, :html => {:name => 'frmRequest'} ) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-sm-8">
      <div class="input-group input-group-sm col-sm-9">
        <%= f.hidden_field :user_id, :value => current_user.id, class:"form-control", placeholder:"usuario"%>
      </div>                            
    </div>
  </div>

  
  <div class="row">
    <div class="form-group col-sm-8">
        <%= f.label :requestDate, "Fecha Requerimiento: ", class:'col-sm-3 control-label required' %>
          <div class="input-group input-group-sm col-sm-9">
            <span class="input-group-addon">*</span>
            <%= f.date_select :requestDate, class:"form-control", placeholder:"Fecha requerimiento" %>
          </div>                            
    </div>
  </div>


    <div class="row">
    <div class="form-group col-sm-8">
        <%= f.label :serviceType_id, "Lugar de serivico: ", class:'col-sm-3 control-label required' %>
          <div class="input-group input-group-sm col-sm-9">
            <span class="input-group-addon">*</span>
            <%= f.text_field :serviceType_id, class:"form-control", placeholder:"Lugar de servicio" %>
          </div>                            
    </div>
  </div>


  <div class="row">
    <div class="form-group col-sm-8">
        <%= f.label :address, "Direccion: ", class:'col-sm-3 control-label required' %>
          <div class="input-group input-group-sm col-sm-9">
            <span class="input-group-addon">*</span>
            <%= f.text_field :address, class:"form-control", placeholder:"Direccion" %>
          </div>                            
    </div>
  </div>


  <div class="row">
    <div class="form-group col-sm-8">
        <%= f.label :proposeDate, "Fecha para servicio: ", class:'col-sm-3 control-label required' %>
          <div class="input-group input-group-sm col-sm-9">
            <span class="input-group-addon">*</span>
            <%= f.date_select :proposeDate, class:"form-control", placeholder:"Fecha para servicio" %>
          </div>                            
    </div>
  </div>

  
  <div class="row">
    <div class="form-group col-sm-8">
        <%= f.label :proposeHour, "Hora para servicio: ", class:'col-sm-3 control-label required' %>
          <div class="input-group input-group-sm col-sm-9">
            <span class="input-group-addon">*</span>
            <%= f.time_select :proposeHour, class:"form-control", placeholder:"Hora para servicio" %>
          </div>                            
    </div>
  </div>


  <div class="row">
    <div class="form-group col-sm-8">
        <%= f.label :isPending, "Serivio Pendiente: ", class:'col-sm-3 control-label required' %>
          <div class="input-group input-group-sm col-sm-9">
            <span class="input-group-addon">*</span>
            <%= f.check_box :isPending, class:"form-control", placeholder:"Serivio Pendiente" %>
          </div>                            
    </div>
  </div>
  

  <div class="row">
    <div class="form-group col-sm-8">
        <%= f.label :isConfirmed, "Servicio realizado: ", class:'col-sm-3 control-label required' %>
          <div class="input-group input-group-sm col-sm-9">
            <span class="input-group-addon">*</span>
            <%= f.check_box :isConfirmed, class:"form-control", placeholder:"Servicio realizado" %>
          </div>                            
    </div>
  </div>
 
 
  <div class="row">
    <div class="form-group col-sm-8">
        <%= f.label :comment, "Comentarios: ", class:'col-sm-3 control-label required' %>
          <div class="input-group input-group-sm col-sm-9">
            <span class="input-group-addon">*</span>
            <%= f.text_field :comment, class:"form-control", placeholder:"Comentarios" %>
          </div>                            
    </div>
  </div>


  <div class="row">
    <div class="form-group col-sm-8">
        <%= f.label :vet_id, "Veterinaria: ", class:'col-sm-3 control-label required' %>
        <a data-toggle="modal" href="#myModal">
          Agregar
        </a>  
        <div class="input-group input-group-sm col-sm-9">
          <span class="input-group-addon">*</span>
          <%= text_field "request_vet", "name", class:"form-control", :disabled => true %>
          <%= text_field "request_vet", "address", class:"form-control", :disabled => true %>
          <%= f.text_field :vet_id, class:"form-control", placeholder:"Comentarios" %>
        </div>
    </div> 
  </div>

 <h3>Items</h3>
  <div id="request_details">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Servicio</th>
          <th>Mascota</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= f.fields_for :request_details do |item| %>      
          <%= render "request_detail_fields", :f => item %>
        <% end %>
      </tbody>
    </table> 
  </div>

  <div class="form-actions">
    <%= link_to_add_association 'Agregar', f, :request_details, :class => "btn btn-default" %><br>
    <%= f.submit "Grabar" %>
    <br>
    <%= link_to 'Regresar', requests_path %>
  </div>
<% end %>


  <script type="text/javascript">
  function datos(id, nombre, address){
    document.frmRequest.request_vet_id.value = id;
    document.frmRequest.request_vet_name.value = nombre;
    document.frmRequest.request_vet_address.value = address;
    $("#btnCerrar").click()
  }
  </script>