<h1>Listing requests</h1>

<table>
  <thead>
    <tr>
      <th>Requestdate</th>
      <th>Servicetype</th>
      <th>Address</th>
      <th>Proposedate</th>
      <th>Proposehour</th>
      <th>Ispending</th>
      <th>Isconfirmed</th>
      <th>Comment</th>
      <th>Vet</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.requestDate %></td>
        <td><%= request.serviceType %></td>
        <td><%= request.address %></td>
        <td><%= request.proposeDate %></td>
        <td><%= request.proposeHour %></td>
        <td><%= request.isPending %></td>
        <td><%= request.isConfirmed %></td>
        <td><%= request.comment %></td>
        <td><%= request.vet %></td>
        <td><%= link_to 'Show', request %></td>
        <td><%= link_to 'Edit', edit_request_path(request) %></td>
        <td><%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Request', new_request_path %>
