<div class="row">
  <div class="col-sm-12" id="featured">
    <div class="page-header text-muted">
      Lista de Requerimientos
    </div>
  </div>
</div>

<div class="row"> 
  <div class="col-sm-12">

<table class="table table-hover">
  <thead>
    <tr>
      <th>Fecha Requerimiento</th>
      <th>Lugar del Servicio</th>
      <th>Direccion</th>
      <th>Fecha para servicio</th>
      <th>Hora para servicio</th>
      <th>Pendiente</th>
      <th>Realizado</th>
      <th>Comentarios</th>
      <th>Veterinaria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.requestDate %></td>
        <td><%= request.serviceType %></td>
        <td><%= request.address %></td>
        <td><%= request.proposeDate %></td>
        <td><%= request.proposeHour %></td>
        <td><%= request.isPending %></td>
        <td><%= request.isConfirmed %></td>
        <td><%= request.comment %></td>
        <td><%= request.vet %></td>
        <td><%= link_to 'Show', request %></td>
        <td><%= link_to 'Edit', edit_request_path(request) %></td>
        <td><%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Requerimiento', new_request_path %>

  </div>
</div>
