<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha de requerimiento:</strong>
  <%= @request.requestDate %>
</p>

<p>
  <strong>Lugar del servicio:</strong>
  <%= @request.serviceType %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @request.address %>
</p>

<p>
  <strong>Fecha para el servicio:</strong>
  <%= @request.proposeDate %>
</p>

<p>
  <strong>Hora para el servicio:</strong>
  <%= @request.proposeHour %>
</p>

<p>
  <strong>Pendiente:</strong>
  <%= @request.isPending %>
</p>

<p>
  <strong>Completado:</strong>
  <%= @request.isConfirmed %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @request.comment %>
</p>

<p>
  <strong>Veterinaria:</strong>
  <%= @request.vet.name %>
</p>


<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
