<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    </head>
  <body>
<div class="wrapper">
    <div class="box">
        <div class="row">
          
            <!-- sidebar -->
            <div class="column col-sm-3" id="sidebar">
                <a class="logo" href="#">Opciones</a>
                <ul class="nav">
                    
                    
                    <li><%= link_to "Mis Mascotas", pets_path %></li>
                    <li><%= link_to "Solicitar Servicio", pets_path %></li>
                    <li><%= link_to "Consultas de Servicios", pets_path %></li>
                    <li><%= link_to "Veterinarias Afiliadas", pets_path %></li>
          
                </ul>
            </div>
            <!-- /sidebar -->
          
            <!-- main -->
            <div class="column col-sm-9" id="main">
                <div class="padding">
                    <div class="full col-sm-9">
                      
                        <!-- content -->
                        <div class="row">    
                         	<div class="col-sm-10">
                            	<h2>Mascotas Perú</h2><h5>Comprometidos con el bienestar de su mascota</h6>
                            
                         	</div>
                          <div class="col-sm-2">
                            <!--Inicio Menu-->                            
                            <% if user_signed_in? %>
                              <%= render "users/shared/menu" %> 
                            <% else vet_signed_in? %>
                              <%= render "vets/shared/menu" %>
                            <%end%>
                            <!--Fin de menu-->
                          </div> 
                       	
                        
                        <div class="col-sm-12" id="featured">   
                          <div class="page-header text-muted">
                          	Mi Mascota
                          </div> 
                          
                        </div>
                       </div>

                        <div class="row"> 
      						<div class="col-md-8">
      							<%= yield %>
							</div><!-- /padding -->


        					<div class="col-md-4">
        	 
        						<p align="right"></br>
        						<b>Twitter</b>
        						</br>
      
        						</p>
      						</div>
    					</div>


    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
      </div>
      <div class="col-md-2">

        <p align="right"></br>
        <b>Facebook</b>
        </br>
        ------------   
        </p>
      </div>
    </div>
    </div>
</div>
  <!-- script references -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
     


