<!DOCTYPE html>
<html>
<head>
  <title>Veterinaria</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    </head>
  <body>
<div class="wrapper">
 <div class="box">
  <div class="row">
          
            <!-- sidebar -->
            <div class="column col-sm-3" id="sidebar">
                <a class="logo" href="#"><font face= "segoe print" size="6">Opciones</font></a>
                <ul class="nav">
                    
                    
                    <li><font face= "segoe print" size="3"><%= link_to "Mis Mascotas", pets_path %></font></li>
                    <p></p>
                    <li><font face= "segoe print" size="3"><%= link_to "Solicitar Servicio", pets_path %></font></li>
                       <p></p>
                    <li><font face= "segoe print" size="3"><%= link_to "Consultas de Servicios", pets_path %></font></li>
                       <p></p>
                    <li><font face= "segoe print" size="3"><%= link_to "Veterinarias Afiliadas", pets_path %></font></li>
                       <p></p>
          
                </ul>
             </div>
            <!-- /sidebar -->
          
             <!-- main -->
   <div class="column col-sm-9" id="main">


  <div class="padding">
  <div class="full col-sm-9">
                      
       <!-- content -->
  <div class="row">    
              <div class="col-sm-5">
                            	<h2><font face= "chiller" size="30">Mascotas Perú</font></h2>
                              <h5><font face= "segoe print" size="2.5">Comprometidos con el bienestar de su mascota</font></h6>
              </div>
              <div class="col-sm-5">
                              <a href="#" class="pull-left"><img src="http://cdns2.freepik.com/foto-gratis/huellas-de-animales-siluetas_318-38345.jpg">
              </div>
              <div class="col-sm-2">
                            	<p align="center"></br>
                            	<p><b>Usuario:</b>Oscar</p>
                            	<a href="#" class="pull-center"><img src="http://api.randomuser.me/portraits/thumb/men/19.jpg" class="img-circle"/></a>
              </div> 

  </div> 
                        
  <!--<div class="col-sm-12" id="featured">   
  <div class="page-header text-muted">
                          	Mis Mascotas
  </div> -->
                          
  </div>


  </div><!--Al parecer es el div cierra de <div class="full col-sm-9">-->

  <!--<div class="row"> 
  <div class="col-md-8">-->

  <%= yield %>

	 </div> <!-- /padding -->


    <div class="col-md-4">
        	 
        						<p align="right"></br>
        						<b>Twitter</b>
        						</br>
                      ------------
        						</p>
    </div>
    


    <div class="row">
                  <div class="col-md-2">
                   </div>
                   <div class="col-md-8">
                   </div>
                    <div class="col-md-2">

                         <p align="right"></br>
                              <b>Facebook</b>
                                   </br>
                                 ------------   
                                    </p>
                    </div>
    </div>






    </div>
    </div>
  <!-- script references -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
     


